
language: node_js

node_js:
  - 10

addons:
  apt:
    packages:
      - libgconf-2-4

cache:
  directories:
    - ~/.npm
    - ~/.cache

install:
  - npm ci

before_script:
  - npm start -- --silent &

script:
  - npm run cypress:run -- --record --group foo
  - npm run cypress:run -- --record --group bar
  - npm run cypress:run -- --record --group baz